header {
	padding: 20px 0;
}

body {
	font-family: 'Montserrat', sans-serif;;
}
/* EM significa que ele é relativo ao tamanho da fonte e se o usuário tem uma tela grande ou uma tela pequena, ex:dispositivo celular */
.background-principal {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE,#93aad3);/* Comando utilizado para criar o efeito de degrade */
}

.caixa {
	position: relative;
	width: 1300px;
	margin: 0 auto;
	height: 350px;
	margin-top: -60px;
}
/* Esse nav foram utilizados para estilizar a parte de navegação entre as paginas */
nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #000000;
	text-decoration: underline;
}

.botaoAgendar {
	width:40%;
	padding: 20px 20px;
	background: rgb(47, 44, 227);
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 30px;
	transition: 1s all;
	cursor: pointer;
}

.botaoAgendar:hover {
	background: rgb(97, 164, 231);
	transform: scale(1.2);
}

.banner{
	height: 550px;
	width: 100%;
}

.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear:left;
}

.principal {
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.mapa-conteudo{
	width: 940px;
	margin: 0 auto;
}

.Centralizar-texto{
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold; 
}

.imagem-beneficios {
	width: 60%;
	box-shadow: 10px 10px 10px 0 #000000;
	opacity: 1;
    transition: 400ms;
}

/* Aqui e para estiliza o roda pé */
footer {
	text-align: center;
	background: linear-gradient(#93aad3,#FEFEFE);/* Comando utilizado para criar o efeito de degrade */
	padding: 40px 0;
}

.imagem-logo{
	padding-right: 120px;
	padding-top: 10px;
	margin-top: 50px;
}

.copyright {
	color: #000000;
	font-size: 13px;
	margin: -50px 0 0;
}


